.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &.fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;
  }
}

.loader {
  display: inline-block;
  position: relative;

  &.small {
    width: 40px;
    height: 40px;

    div {
      width: 6px;
      height: 6px;
    }
  }

  &.medium {
    width: 64px;
    height: 64px;

    div {
      width: 10px;
      height: 10px;
    }
  }

  &.large {
    width: 80px;
    height: 80px;

    div {
      width: 13px;
      height: 13px;
    }
  }

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    border: 3px solid #0070f3;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0070f3 transparent transparent transparent;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
